{{ define "main" }}

{{ $csv := readFile "static/data/radar.csv" | transform.Unmarshal (dict "delimiter" ";")}}

<!-- content -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 content">
                {{ .Content }}
            </div>
        </div>
    </div>
</section>

<section class="section pt-0">
    <div class="row">
        <div class="col-12 content">
            <div id="radar-container">
                <div id="radar"></div>
            </div>
        </div>
    </div>
</section>
<!-- /content -->

{{ end }}